name: post_merge_deploy
on:
  push:
    branches:
    - main
env:
  TERM: dumb
jobs:
  build_base:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v3.5.0
    - name: Log in to Docker Hub
      uses: docker/login-action@v2.1.0
      with:
        username: ${{ secrets.DOCKER_USER }}
        password: ${{ secrets.DOCKER_PASS }}
    - name: Log in to the Container registry
      uses: docker/login-action@v2.1.0
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Set versions
      uses: tw3lveparsecs/github-actions-set-variables@latest
      with:
        envFilePath: .github/versions.env
    - name: base image
      env:
        IMAGE_NAME: android_base
        DOCKER_FILE_PATH: android_base/.
        SQUASH_IMAGE: NO
      run: |
        ./.github/docker_build_image.sh
        ./.github/docker_push_image.sh
    - name: generic image
      env:
        IMAGE_NAME: android
        DOCKER_FILE_PATH: .
      run: |
        ./.github/docker_build_image.sh
        ./.github/docker_push_image.sh
  build_specialized_images:
    strategy:
      matrix:
        type: [android_ndk, android_bazel]
        include:
          - type: android_ndk
            squash: NO
          - type: android_bazel
            squash: NO
    runs-on: ubuntu-24.04
    needs:
    - build_base
    env:
      IMAGE_NAME: ${{ matrix.type }}
      DOCKER_FILE_PATH: ${{ matrix.type }}/.
      SQUASH_IMAGE: ${{ matrix.squash }}
    steps:
    - uses: actions/checkout@v3.5.0
    - name: Log in to Docker Hub
      uses: docker/login-action@v2.1.0
      with:
        username: ${{ secrets.DOCKER_USER }}
        password: ${{ secrets.DOCKER_PASS }}
    - name: Log in to the Container registry
      uses: docker/login-action@v2.1.0
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Set versions
      uses: tw3lveparsecs/github-actions-set-variables@latest
      with:
        envFilePath: .github/versions.env
    - run: ./.github/docker_build_image.sh
    - run: ./.github/docker_push_image.sh
  build_dev_base_image:
    runs-on: ubuntu-24.04
    needs:
    - build_specialized_images
    env:
      IMAGE_NAME: android_dev_base
      DOCKER_FILE_PATH: android_dev_base/.
      SQUASH_IMAGE: NO
    steps:
    - uses: actions/checkout@v3.5.0
    - name: Log in to Docker Hub
      uses: docker/login-action@v2.1.0
      with:
        username: ${{ secrets.DOCKER_USER }}
        password: ${{ secrets.DOCKER_PASS }}
    - name: Log in to the Container registry
      uses: docker/login-action@v2.1.0
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Set versions
      uses: tw3lveparsecs/github-actions-set-variables@latest
      with:
        envFilePath: .github/versions.env
    - run: ./.github/docker_build_image.sh
    - run: ./.github/docker_push_image.sh
  build_dev_image:
    runs-on: ubuntu-24.04
    needs:
    - build_dev_base_image
    env:
      IMAGE_NAME: android_dev
      DOCKER_FILE_PATH: android_dev/.
      SQUASH_IMAGE: NO
    steps:
    - uses: actions/checkout@v3.5.0
    - name: Log in to Docker Hub
      uses: docker/login-action@v2.1.0
      with:
        username: ${{ secrets.DOCKER_USER }}
        password: ${{ secrets.DOCKER_PASS }}
    - name: Log in to the Container registry
      uses: docker/login-action@v2.1.0
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Set versions
      uses: tw3lveparsecs/github-actions-set-variables@latest
      with:
        envFilePath: .github/versions.env
    - run: ./.github/docker_build_image.sh
    - run: ./.github/docker_push_image.sh
  green:
    runs-on: ubuntu-24.04
    needs:
    - build_dev_image
    steps:
      - name: ready
        run: echo "DONE"
  tag_at_repo:
    runs-on: ubuntu-24.04
    needs:
    - green
    permissions:
      contents: write
    steps:
    - uses: actions/checkout@v3.5.0
    - name: Set versions
      uses: tw3lveparsecs/github-actions-set-variables@latest
      with:
        envFilePath: .github/versions.env
    - uses: softprops/action-gh-release@v2
      with:
        tag_name: ${{ env.IMAGE_VERSION }}
        generate_release_notes: true
        body: |
          **Base**: image with JDK 21, Android SDK Manager ([Dockerfile](https://github.com/menny/docker_android/blob/${{ env.IMAGE_VERSION }}/android_base/Dockerfile)):
          
          ```
          docker pull ghcr.io/menny/android_base:${{ env.IMAGE_VERSION }}
          ```

          **Android**: Base + Build Tools, Platform level 36 ([Dockerfile](https://github.com/menny/docker_android/blob/${{ env.IMAGE_VERSION }}/Dockerfile)):
          
          ```
          docker pull ghcr.io/menny/android:${{ env.IMAGE_VERSION }}
          ```
          
          **NDK**: Android + NDK ${{ env.NDK_VERSION }} ([Dockerfile](https://github.com/menny/docker_android/blob/${{ env.IMAGE_VERSION }}/android_ndk/Dockerfile)):
          
          ```
          docker pull ghcr.io/menny/android_ndk:${{ env.IMAGE_VERSION }}
          ```
          
          **Bazel**: Android + Bazelisk ${{ env.BAZELISK_VERSION }} and Go ([Dockerfile](https://github.com/menny/docker_android/blob/${{ env.IMAGE_VERSION }}/android_bazel/Dockerfile)):
          
          ```
          docker pull ghcr.io/menny/android_bazel:${{ env.IMAGE_VERSION }}
          ```
          
          **Dev-Base**: Bazel + node, pnpm, zsh, Claude-Code, and gemini-cli ([Dockerfile](https://github.com/menny/docker_android/blob/${{ env.IMAGE_VERSION }}/android_dev_base/Dockerfile)):
          ```
          docker pull ghcr.io/menny/android_dev_base:${{ env.IMAGE_VERSION }}
          ```

          **Dev**: android_dev_base + oh-my-zsh + sshd + some scripts ([Dockerfile](https://github.com/menny/docker_android/blob/${{ env.IMAGE_VERSION }}/android_dev/Dockerfile)):
          
          ```
          docker pull ghcr.io/menny/android_dev:${{ env.IMAGE_VERSION }}
          ```
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
